@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.button {
    transition: transform .2s;
    color:white;
}

.button:hover {
    transition: transform .2s;
    transform: scale(1.1);
    color: gold;
}